services:
  service:
    build: .
    env_file:
      - .env
    ports:
      - ${L0_PORT}:8081
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy 
    stop_grace_period: 45s


  db:
    image: postgres
    ports:
      - ${DBL0_PORT}:5432
    environment:
      - POSTGRES_USER=${DBL0_USER}
      - POSTGRES_PASSWORD=${DBL0_PASSWORD}
      - POSTGRES_DB=${DBL0_NAME}
    volumes:
      - postgres-db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DBL0_USER} -d ${DBL0_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  redis:
    image: redis
    ports:
      - ${REDIS_PORT}:6379
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DB=${REDIS_DB}
      - REDIS_TTL=${REDIS_TTL}
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s
      
volumes:
  postgres-db:
  redis_data: